@charset "utf-8";
/* CSS Document */

nav {
	height: 50px;
	padding: 20px;
	background-color: lightbrown;

	display: flex;
	align-items: center;
	gap: 40px;
}

a {
		text-decoration: none;
		color: brown;
		font-size: 20px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
