body {
  background: black;
  /* other options for background:
  url("outerSpace.png") no-repeat right top; */
  color: white;
  font-family: "Lucida Console", "Monaco", "Courier New", Courier, monospace;
  padding: 5px 15px;
}

body a {
  text-decoration: none;
  color: white;
  cursor: crosshair;
}

a:hover {
  text-decoration: overline underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}

nav {
  text-decoration: overline underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  font-family: "Lucida Console", "Monaco", "Courier New", Courier, monospace;
  padding: 5px 5px;
  /* other options for text:
    text-decoration-color: yellow;
  */
}

nav a {
  text-decoration: none;
  color: white;
  cursor: crosshair;
}

nav a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

h1 {
  font-variant: small-caps;
  font-weight: bolder;
}

ul.a {
  list-style-type: circle;
}
