/*
Background Colors:
100% white = white #FFFFFF
75% white = LightGray #D3D3D3
50% white = DarkGray #A9A9A9
25% white = Gray #808080
0% white = black #000000
*/
/*
body {
  background: white;
  color: black;
}

100 {
  background: white;
  color: black;
}

75 { 
  background: LightGray;
  color: black;
}

50 { 
  background: DarkGray;
  color: black;
}

25 { 
  background: Gray;
  color: black;
}

0 {
  background: black;
  color: white;
}
*/

body a {
  color: black;
}

a:hover {
  background: black;
  color: white;
}

nav a:hover {
  text-decoration: none;
  background: black;
  color: white;
}

body.dark a {
  color: white;
}

body.dark a:hover {
  background: white;
  color: black;
}

body.dark nav a:hover {
  text-decoration: none;
  background: white;
  color: black;
}

#nameClick {
  cursor: copy;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #a9a9a9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: copy;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: copy;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: copy;
}
